<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Wishlist:</h3>

    <form class="form new-wishlist-form">
      <div class="form-group">
        <label for="wishlist-name">wishlist name:</label>
        <input class="form-input" type="text" id="wishlist-name" name="wishlist-name" />
      </div>
      <div class="form-group">
        <label for="wishlist-desc">description:</label>
        <textarea class="form-input" id="wishlist-desc" name="wishlist-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if wishlists.length}}
  <div class="col-md-6 wishlist-list">
    <h3>Current Wishlists:</h3>

    {{#each wishlists as |wishlist|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/wishlist/{{wishlist.id}}">{{wishlist.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{wishlist.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <h3>no wishlists to show</h3>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
