{{!-- <h1>SEARCH RESULTS</h1>


<div class="w-full">
  <p>{{this.title}} {{this.price.raw}} {{this.price.currency}}</p>
  <img src={{this.image}}>
  <a href={{this.link}}>{{this.title}}</a>
  <p>===========================================</p>
</div> --}}

<div class="bg-white pb-4 px-4 rounded-md w-full">
	<div class="flex justify-between w-full pt-6 ">
    	<p class="ml-3">Search Results</p>
    </div>
  
    <div class="overflow-x-auto mt-6">
      <table class="table-auto border-collapse w-full">
        <thead>
          <tr class="rounded-lg text-sm font-medium text-gray-700 text-left" style="font-size: 0.9674rem">
            <th class="px-4 py-2 bg-gray-200 " style="background-color:#f8f8f8">Item</th>
            <th class="px-4 py-2 " style="background-color:#f8f8f8">Image</th>
            <th class="px-4 py-2 " style="background-color:#f8f8f8">Price</th>
			      <th class="px-4 py-2 " style="background-color:#f8f8f8"></th>
          </tr>
        </thead>
        <tbody class="text-sm font-normal text-gray-700">
          {{#each results}}
          <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
            <td class="px-4 py-4"><a href={{this.link}}>{{this.title}}</a></td>
            <td class="px-4 py-4"><img class="h-20 w-100" src="{{this.image}}"></td>
            <td class="px-4 py-4">{{this.price.raw}}</td>
            <td class="px-4 py-4">
              <div class="dropdown ml-3 inline-flex rounded-md shadow transition-fade">
                <a href="#" class="drop-btn dark:bg-gray-600 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-600 dark:text-indigo-100 shadow-md dark:hover:bg-indigo-700">
                      Add Product
                </a>
                <div class="outer-list">
                  <ul>
                    {{#each ../wishlistData}}
                    <li>{{this.dataValues.name}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  	 <div class="w-full flex justify-center border-t border-gray-100 pt-4 items-center"></div>
    </div>